body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#welcome-button {
  margin-left: 70%;
  padding-top: 600px;
}
.cinema-title {
  margin-bottom: 40px;
}
.each-movie {
  align-content: center;
  margin-bottom: 40px;
  text-align: center;
}
.movie-info {
  margin-top: 20px;
}
.movie-text {
  margin-top: 80px;
}
.welcome-div {
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  height: 850px;
  width: 100%;
}